/* Instagram Linktree style */
body {
  background-color: rgb(88, 164, 47, 0.7);
  /*background-repeat: no-repeat;*/
}

/* Headers */
h1 {
  font-size: 8vw;
  text-align: center;
  color: #e88717;
  font-family: 'Herr Von Muellerhoff', cursive;
  margin: 30px;
}

h2 {
  font-size: 3vw;
  text-align: left;
  padding-left: 5vw;
  color: #e88717;
  margin: 0;
}

/* Link Buttons */
.button {
  margin: 10px;
  text-align: center;
  width: 200px;
}

.imglink {
  margin: 0;
  padding: 0;
  width: 196px;
  height: 196px;
}

.spanAff {
  padding: 0px 0px 10px 0px;
  display: block;
  background-image: linear-gradient(to bottom right, orange, purple);
  border-style: none groove groove none;
  border-color: grey;
  border-width: 4px;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}

/* Links */
a {
  background-color: black;
  color: whitesmoke;
  text-decoration: none;
}

a div:hover {
  background-image: linear-gradient(to bottom right, rgba(255, 145, 0, 0.8), rgba(180, 0, 226, 0.5));
  border-style: ridge none none ridge;
}

/* Footer */
footer {
  background-color: grey;
  opacity: 0.7;
  margin: 10px;
}

h4 {
  padding: 0px 20px;
}